html, body{
    color: white;
    background-color: #21232A;
}

#root{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

button{
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    background: rgb(210, 243, 91);
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin: 0px 10px;
}

button:hover{
    background: rgb(160, 189, 56);
    font-size: 1.1rem;
}